boto3==1.10.16
botocore==1.13.16
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.7
django-ckeditor==5.8.0
-e git://github.com/maraujop/django-crispy-forms.git@e149dafa9a474ac41f98dd5ef78b382cbc21e824#egg=django_crispy_forms
django-js-asset==1.2.2
django-storages==1.7.2
docutils==0.15.2
gunicorn==20.0.0
jmespath==0.9.4
Pillow==6.2.1
psycopg2==2.8.4
python-dateutil==2.8.0
pytz==2019.3
s3transfer==0.2.1
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
urllib3==1.25.7
whitenoise==4.1.4
